/*------------------------------------*\
    #BASE
\*------------------------------------*/


// sets line height that's used everywhere

$base-spacing-unit: $base-line-height;


/* base page */

html {
    font-size: ($base-font-size / 16px) * 1em;
    font-family: $base-font-family;
    line-height: $base-line-height / $base-font-size;
    background-color: $base-background-color;
    color: $base-text-color;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* border box RULES */

html {
	box-sizing: border-box;
}

* {
	&,
	&:before,
	&:after {
        box-sizing: inherit;
    }
}


/* sweet responsive images bro */

img {
    max-width: 100%;
    font-style: italic; /* useful for alt text */
    vertical-align: middle;
}


/* clearfix saves the day */
// p.s. extend if possible so you dont get lots of classes

.clearfix,
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* test stuff */

body {
    background: red;

    @include tablet {
        background: yellow;
    }

    @include desktop {
        background: blue;
    }

}